<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center><h1>Home</h1></center>

    <center><h1>Not all those who wander are lost</h1></center>

    <center><button type="button" name="logout"><a href="{{ url_for('logout') }}">logout</a></button></center>

    <button type="button" name="Create Story">
      <a href="{{ url_for('create_story_page') }}">create story</a>
    </button>

    <button type="button" name="View Stories">
      <a href="{{ url_for('view_story_page') }}">view stories</a>
    </button>

    <br>

    <h1> Stories Edited </h1>
    {% for row in data %}
        <h2> {{ row[0] }}</h2>
          {{ row[1] }}
    {% endfor %}

  </body>
</html>
