<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Story</title>
  </head>

  <body>
    <center><h1>ALL OF THE STORIES</h1></center>
	{% for row in data %}
		<h2> {{ row[0] }}   id: {{ row[2] }}</h2>
		{{ row[3] }}
		
		<form action="/add_to_story_page" method="get">
			<input type= "submit" name= {{ row[2] }}>
		</form>
	
    {% endfor %}
    <br>
    <br>

    <button type="button" name="leave">
      <a href="{{ url_for('home_page') }}">go home</a>
    </button>

  </body>


</html>
